body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#score {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    margin-bottom: 30px;
    border-radius: 30px;
    padding: 10px;
}

#score-display {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

#output {
    margin-bottom: 30px;
    background-color: lightcoral;
    padding: 10px;
    border-radius: 10px;
}